registry=http://10.129.178.173:8082/repository/nodejs/
@microservicos-api:registry=http://10.129.178.173:8082/repository/microservicos-api-npm/
_auth=dGVsZWZvbmljYV9taWNyb3NlcnZpY29zX2FwaTpyQ1ZxZEJGajNrUVVMUFlF
email=victor.fsouza@telefonica.com